
<%- include global/header %>
<style media="screen">
/* Container needed to position the button. Adjust the width as needed */
.no-photo {
position: relative;
}

/* Style the button and place it in the middle of the container/image */
.no-photo .btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: #209cee;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
/* cursor: pointer; */
border-radius: 5px;
}

.no-photo .btn:hover {
background-color: #3daef9;
}

.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-position: center center;
    background-size: cover;
}
</style>
<body>
  <section style="margin-top:15px">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column" style="background:white">
          <div class="section">
            <!-- button add -->
            <div class="columns">
              <div class="column">
                <div class="level-right">
                  <div class="level-item">
                      <button id="button-save-album" class="button is-info" disabled><span class="icon is-small"><i class="fas fa-save"></i></span>&nbsp Save Album</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="level-left">
                  <div class="columns">
                    <div class="column is-8">
                      <div class="level-item">
                        <div class="field">
                          <div id="control" class="control">
                            <input id="input-album-name1" class="input" type="text" placeholder="Input album name.." name="input_name">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column is-4">
                      <div class="level-item">
                        <button id="button-add-photo" class="button is-info" type="button" name="button" disabled><i class="fas fa-plus"></i>&nbsp Add Photo</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="level-right">
                  <div class="level-item">
                    <button id="button-select-all-photo" class="button is-default is-rounded" type="button" name="button" disabled><i class="fas fa-check"></i>&nbsp Select All Photos</button>
                  </div>
                  <div class="level-item">
                    <button id="" class="button is-default" type="button" name="button" disabled><i class="fas fa-cog"></i>&nbsp Atur Foto</button>
                    <!-- <div class="field">
                      <div class="control">
                        <div class="field has-addons">
                          <div class="control">
                            <input id="input-multi-timer" class="input" type="text" placeholder="Seconds.." style="width:70px;" disabled>
                          </div>
                          <div class="control">
                            <button id="button-multi-timer" class="button is-info" disabled><i class="fas fa-clock"></i>&nbsp Timer</button>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- ./button add -->
            <div id="image-preview" class="columns is-multiline" style="margin-top:15px">
              <div id="belum-ada-photo" class="column is-12" style="margin-top:40px">
                <div class="column is-half is-offset-one-quarter">
                  <div class="notification is-info">
                    <p class="is-size-5 has-text-weight-bold has-text-centered">Belum Ada Photo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- 1. Upload Image -->
    <div id="modal-add-photo" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add Photos</p>
          <button id="button-close-add-photo" class="delete" aria-label="close"></button>
        </header>
        <form id="uploadForm" enctype="multipart/form-data" method="post" action="/add_album/upload_photo">
          <section class="modal-card-body">
            <input id="input-album-name2" class="input" type="hidden" name="input_album_name2"><br>
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input id="input-photo" class="file-input" type="file" name="input_photo" multiple>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a image…
                    </span>
                  </span>
                  <span class="file-name"></span>
                </label>
              </div>
          </section>
          <footer class="modal-card-foot">
            <input id="button-submit-photo" class="button is-success" type="submit" value="Upload" name="button-submit-photo">
          </footer>
        </form>
      </div>
    </div>

    <!-- 2. Rejected Image -->
    <div id="modal-rejected-image" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Daftar File yang Tertolak</p>
          <button id="button-close-rejected-image" class="delete" aria-label="close"></button>
        </header>
        <section id="body-rejected-image" class="modal-card-body">
          <div class="columns notification is-danger is-centered">Pastikan File Berformat : JPG/JPEG/PNG</div>
        </section>
        <footer class="modal-card-foot">
          <!-- <button id="button-close-rejected-image" class="button is-success">Okey</button> -->
        </footer>
      </div>
    </div>
    <!-- ./modal -->
  </section>

  <%- include global/bundle_js %>
  <script type="text/javascript">
    $(document).ready(function(){
      alert(`Enter album name..`);
      $("#input-album-name1").focus();
      $("#input-album-name1").keypress(function(e) {
        if(e.which == 13) {
          e.preventDefault();
          var countString = $(this).val()
          if (countString == 0 || countString == undefined) {
            alert(`Album name required..`)
            return 0
          }
          else {
            $("#button-select-all-photo").prop("disabled", false);
            $("#input-multi-timer").prop("disabled", false);
            $("#button-multi-timer").prop("disabled", false);
            $("#button-add-photo").prop("disabled", false);
            $("#button-save-album").prop("disabled", false);
          }
          $.ajax({
            type : 'POST',
            url : '/add_album/input_name',
            data : $("#input-album-name1").val(),
            success : function(response){
              // alert(response);
            }
          })
        }
      });

      // [++] Action DOM
      // [0] add button action
      // button-add-photo -> modal-add-photo
      $("#button-add-photo").click(function(){
        $("#modal-add-photo").addClass("is-active")
        $("#input-album-name2").val($("#input-album-name1").val())
      })
      // [1] close button action
      $("#button-close-add-photo").click(function(){
        $("#modal-add-photo").removeClass("is-active")
      })
      $("#button-close-rejected-image").click(function(){
        $("#modal-rejected-image").removeClass("is-active")
      })

      $("#uploadForm").on('submit', function(e){
        e.preventDefault();
        $("#modal-add-photo").removeClass("is-active")
        var formData = new FormData(this);
        $.ajax({
          type:$(this).attr('method'),
          url: $(this).attr('action'),
          data:formData,
          dataType: 'json',
          contentType: false,
          processData: false,
          complete: function(data){
            let x = document.getElementById("input-photo");
            let files = x.files;
            let filetypes = /jpeg|jpg|png/;
            var rejectFile = []
            for (var i = 0; i < files.length; i++) {
              let mimetype = files[i].name.match(filetypes)
              if (mimetype == null) {
                rejectFile.push(`${files[i].name}<br>`)
              }
            }
            for (var i = 0; i < rejectFile.length; i++) {
              let no = i+1
              $("#body-rejected-image").append(`${no}. ${rejectFile[i]}`)
            }
            // handling modal rejected image
            if (rejectFile.length > 0) { $("#modal-rejected-image").addClass("is-active") }
            else {
              $("#belum-ada-photo").hide()
            }

            let data_all = JSON.parse(JSON.stringify(data))
            let path_album = `./views/images-gallery/${JSON.parse(data_all.responseText)[0].album_name}`
            let photo_name = JSON.parse(data_all.responseText)[0].photo_name
            for (var i = 0; i < photo_name.length; i++) {
              $("#image-preview").append(`
                <div class="column is-3" style="background:#f5f5f5">
                <div  class="has-text-centered">
                  <div class="no-photo">
                    <div class="thumb" style="background-image: url('${JSON.parse(data_all.responseText)[0].album_name}/${photo_name[i]}');" title="Landscape: 800x400"></div>
                  </div>
                  <br>
                  <div class="columns" style="margin-top:-30px;">
                    <div class="column is-8">
                      <span class="level-left is-size-7">Photo Name : </span>
                      <input class="input" type="text" placeholder="Input Photo Name.." name="input-name-sub-photo">
                    </div>
                    <div class="column is-4">
                      <span class="level-left is-size-7">Timer : </span>
                      <input class="input" type="text" placeholder="Time.." name="input-time-sub-photo">
                    </div>
                  </div>
                </div>
              </div>
              `)
            }
          }
        });
      })
      // prevent close tab browset
      window.onbeforeunload = function() {
        return 'You have unsaved changes!';
      }
    });
  </script>
</body>
</html>
