<%- include global/header %>
<body>
  <section style="margin-top:15px">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column" style="background:white">
          <div class="section">
            <!-- button add -->
            <div class="columns">
              <div class="column">
                <div class="level-right">
                  <div class="level-item">
                    <button id="button-save-album" class="button is-info" disabled><span class="icon is-small"><i class="fas fa-save"></i></span>&nbsp Save Album</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="level-left">
                  <div class="columns">
                    <div class="column is-8">
                      <div class="level-item">
                        <div class="field">
                          <div id="control" class="control">
                            <input id="input-album-name1" class="input" type="text" placeholder="Input album name.." name="input_name">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column is-4">
                      <div class="level-item">
                        <button id="button-add-photo" class="button is-info" type="button" name="button" disabled><i class="fas fa-plus"></i>&nbsp Add Photo</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="level-right">
                  <div class="level-item">
                    <div class="field has-addons">
                      <div class="control">
                        <input id="timer" class="input" name="timer" type="text" placeholder="Timer.." style="width:70px;" disabled>
                      </div>
                      <div class="control">
                        <a class="button is-info is-static"><span class="icon is-small"><i class="far fa-clock"></i></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="level-item">
                    <button id="button-select-all-photo" class="button is-default is-rounded" type="button" name="button" disabled><i class="fas fa-check"></i>&nbsp Pilih semua foto</button>
                  </div> -->
                  <div class="level-item">
                    <button id="" class="button is-default" type="button" name="button" disabled><i class="fas fa-cog"></i>&nbsp Atur Foto</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./button add -->
            <div id="image-preview" class="columns is-multiline" style="margin-top:15px">
              <div id="belum-ada-photo" class="column is-12" style="margin-top:40px">
                <div class="column is-half is-offset-one-quarter">
                  <div class="notification is-info">
                    <p class="is-size-5 has-text-weight-bold has-text-centered">Belum Ada Photo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- 1. Upload Image -->
    <div id="modal-add-photo" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add Photos</p>
          <button value="modal-add-photo" class="delete button-cancel" aria-label="close"></button>
        </header>
        <form id="uploadForm" enctype="multipart/form-data" method="post" action="/add_album/upload_photo">
          <section class="modal-card-body">
            <input id="input-album-name2" class="input" type="hidden" name="input_album_name2"><br>
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input id="input-photo" class="file-input" type="file" name="input_photo" multiple>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a image…
                    </span>
                  </span>
                  <span class="file-name"></span>
                </label>
              </div>
          </section>
          <footer class="modal-card-foot">
            <input id="button-submit-photo" class="button is-success" type="submit" value="Upload" name="button-submit-photo">
          </footer>
        </form>
      </div>
    </div>
    <!-- 2. Rejected Image -->
    <div id="modal-rejected-image" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Daftar File yang Tertolak</p>
          <button value="modal-rejected-image" class="delete button-cancel" aria-label="close"></button>
        </header>
        <section id="body-rejected-image" class="modal-card-body">
          <div class="columns notification is-danger is-centered">Pastikan File Berformat : JPG/JPEG/PNG</div>
        </section>
        <footer class="modal-card-foot">
          <!-- <button id="button-close-rejected-image" class="button is-success">Okey</button> -->
        </footer>
      </div>
    </div>
    <!-- 3. Modal confirm delete photo -->
    <div id="modal-confirm-delete-photo" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Hapus Foto</p>
        </header>
        <section class="modal-card-body">
          <h2>Apakah kamu ingin menghapus foto dengan nama "<b><span id="name-deleted-photo"></span></b>" ?</h2>
        </section>
        <footer class="modal-card-foot">
          <button id="button-delete-photo2" value="" class="button is-danger">Hapus</button>
          <button value="modal-confirm-delete-photo" class="button is-info button-cancel">Batal</button>
        </footer>
      </div>
    </div>
    <!-- ./modal -->
  </section>

  <%- include global/bundle_js %>
  <script type="text/javascript">
  // GLobal Variabel
    let fotoTerhapus = []

    $(document).ready(function(){
      alert(`Enter album name..`);
      $("#input-album-name1").focus();
      $("#input-album-name1").keypress(function(e) {
        if(e.which == 13) {
          e.preventDefault();
          $.ajax({
            type : 'POST',
            url : '/add_album/input_name',
            data : $("#input-album-name1").val(),
            success : function(response){
              if (response.status == "error") {
                alert(response.data)
                return 0;
              }
              else {
                $("#button-select-all-photo").prop("disabled", false);
                $("#button-add-photo").prop("disabled", false);
                $("#button-save-album").prop("disabled", false);
                $("#input-album-name1").prop("disabled", true);
                $("#timer").prop("disabled", false);
              }
            }
          })
          let countString = $(this).val()
          if (countString == 0 || countString == undefined) {
            alert(`Album name required..`)
            return 0
          }
        }
      });

      // [++] Action DOM
      // [0] add button action
      // button-add-photo -> modal-add-photo
      $("#button-add-photo").on('click', function(){
        $("#modal-add-photo").addClass("is-active")
        $("#input-album-name2").val($("#input-album-name1").val())
      })

      $("#uploadForm").on('submit', function(e){
        e.preventDefault();
        $("#modal-add-photo").removeClass("is-active")
        let formData = new FormData(this);
        $.ajax({
          type:$(this).attr('method'),
          url: $(this).attr('action'),
          data:formData,
          dataType: 'json',
          contentType: false,
          processData: false,
          complete: function(data){
            let x = document.getElementById("input-photo");
            let files = x.files;
            let filetypes = /jpeg|jpg|png|JPEG|JPG|PNG/;
            let rejectFile = []
            for (var i = 0; i < files.length; i++) {
              let mimetype = files[i].name.match(filetypes)
              if (mimetype == null) {
                rejectFile.push(`${files[i].name}<br>`)
              }
            }
            for (var i = 0; i < rejectFile.length; i++) {
              let no = i+1
              $("#body-rejected-image").append(`${no}. ${rejectFile[i]}`)
            }
            // handling modal rejected image
            if (rejectFile.length > 0) { $("#modal-rejected-image").addClass("is-active") }
            else {
              $("#belum-ada-photo").hide()
            }

            let data_all = JSON.parse(JSON.stringify(data))
            let path_album = `./views/images-gallery/${JSON.parse(data_all.responseText)[0].album_name}`
            let path_album_json_data = `./views/images-gallery/${JSON.parse(data_all.responseText)[0].album_name}/${JSON.parse(data_all.responseText)[0].album_name}.json`
            let original_file_name = JSON.parse(data_all.responseText)[0].original_file_name

            $("#image-preview").html('')
            for (var i = 0; i < original_file_name.length; i++) {
              if (original_file_name[i].slice(-5) !== ".json") {
                $("#image-preview").append(`
                  <div id="photo-${i}" class="column is-3" style="background:#f5f5f5">
                    <div  class="has-text-centered">
                      <div class="card-content">
                        <div class="card-image">
                          <figure class="image is-1by1">
                            <img src="${JSON.parse(data_all.responseText)[0].album_name}/${original_file_name[i]}" alt="Placeholder image">
                          </figure>
                        </div>
                      </div>
                      <br>
                      <div class="columns" style="margin-top:-30px;">
                        <div class="column is-7">
                          <span class="level-left is-size-7">Photo Name : </span>
                          <input type="hidden" value="${original_file_name[i]}" class="input input-original-file-name">
                          <input id="input-value-${i}" value="${original_file_name[i]}" class="input input-name" type="text" placeholder="Input Photo Name.." name="input-name-sub-photo">
                        </div>
                        <div class="column is-2">
                          <button class="button is-danger button-delete-photo" value="${i}" type="button" name="button" style="margin-top:18px;"><i class="fas fa-trash"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                `)
              }
            }

          }
        });
      })

      $(".button-delete-photo").on("click", function () {
        $("#name-deleted-photo").html("")
        let getValButton = $(this).val()
        alert(getValButton)
        let fix = $(`#input-value-${getValButton}`).val()
        $("#modal-confirm-delete-photo").addClass("is-active")
        $("#button-delete-photo2").val(fix)
        $("#name-deleted-photo").append(fix)
      })

      $("#button-delete-photo2").on("click", function () {
        let getValButton = $(this).val()
        let fix = $(`#input-value-${getValButton}`).val()
        fotoTerhapus.push(fix)
        $(`#modal-confirm-delete-photo`).removeClass("is-active")
        $(`#photo-${getValButton}`).remove()
      })

      $(".button-cancel").on("click", function () {
        let selected = $(this).val()
        $(`#${selected}`).removeClass("is-active")
      })

      $("#button-save-album").on("click", function () {
        let album_name = $("#input-album-name1").val()
        var timer = $("#timer").val()
        var timer = timer.replace(/\s/g, "")

        // CLEAR ALL EVENT
        $("#input-album-name1").removeClass("is-danger"); $("#timer").removeClass("is-danger");
        // ./CLEAR ALL EVENT

        // VALIDATION: blank input form
        if (timer.match(/[^0-9]/g)) { alert("Timer harus angka!"); $("#timer").addClass("is-danger"); return 0; }
        if (album_name.length == 0 && timer.length == 0) { alert('Nama album dan Timer harus diisi..!'); $("#input-album-name1").addClass("is-danger"); $("#timer").addClass("is-danger"); return 0; }
        else if (album_name.length == 0) { alert('Nama album harus diisi..!'); $("#input-album-name1").addClass("is-danger"); return 0; }
        else if (timer.length == 0) { alert('Timer harus diisi..!'); $("#timer").addClass("is-danger"); return 0; }
        // ./VALIDATION: blank input form

        let metadata = [];
        let array_input_originalFileName = [], array_input_name = [], array_input_time = [];

        $(".input-original-file-name").each(function () {
          array_input_originalFileName.push($(this).val())
        })
        $(".input-name").each(function () {
          array_input_name.push($(this).val())
        })
        $(".input-time").each(function () {
          array_input_time.push($(this).val())
        })
        metadata.push({
          album_name: album_name,
          original_file_name: array_input_originalFileName,
          input_name: array_input_name,
          timer: timer
        })

        $.ajax({
          type : 'POST',
          url : '/add_album/save_album',
          data : {data: metadata},
          success : function(response){
            if (response.status == "success") {  window.location.pathname = "/" }
            else { return alert(response.data) }
          }
        })
      })

    });
  </script>
</body>
</html>
