
<%- include global/header %>
<style media="screen">
/* Container needed to position the button. Adjust the width as needed */
.no-photo {
position: relative;
}

/* Style the button and place it in the middle of the container/image */
.no-photo .btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: #209cee;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
/* cursor: pointer; */
border-radius: 5px;
}

.no-photo .btn:hover {
background-color: #3daef9;
}
</style>
<body>
  <section style="margin-top:15px">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column" style="background:white">
          <div class="section">
            <!-- button add -->
            <div class="columns">
              <div class="column">
                <div class="level-right">
                  <div class="level-item">
                      <button id="button-save-album" class="button is-info" disabled><span class="icon is-small"><i class="fas fa-save"></i></span>&nbsp Save</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="level-left">
                  <div class="level-item">
                    <div class="field">
                      <div id="control" class="control">
                        <input id="input-album-name" class="input is-large" type="text" placeholder="Input album name.." name="input_name">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="level-right">
                  <div class="level-item">
                    <button id="button-select-all-photo" class="button is-default" type="button" name="button" disabled><i class="fas fa-check"></i>&nbsp Select All Photos</button>
                    <!-- <label class="checkbox"><input type="checkbox">&nbsp Mark All Photos</label> -->
                  </div>
                  <div class="level-item">
                    <div class="field">
                      <div class="control">
                        <div class="field has-addons">
                          <div class="control">
                            <input id="input-multi-timer" class="input" type="text" placeholder="Seconds.." style="width:70px;" disabled>
                          </div>
                          <div class="control">
                            <button id="button-multi-timer" class="button is-info" disabled><i class="fas fa-clock"></i>&nbsp Timer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./button add -->
            <div id="image-preview">
              <div class="columns" style="margin-top:15px">
                <div class="column is-3" style="background:#f5f5f5">
                  <div  class="has-text-centered">
                    <div class="no-photo">
                      <img src="no_photo.png" alt="Snow">
                      <button id="button-blank-album" class="btn button" disabled><span class="icon is-small"><i class="fas fa-plus" style="margin-top:-9.5px"></i></span></button>
                    </div>
                    <br>
                    <div class="columns" style="margin-top:-30px;">
                      <div class="column is-8">
                        <span class="level-left is-size-7">Photo Name : </span>
                        <input class="input" type="text" placeholder="Input Photo Name.." name="" value="" disabled>
                      </div>
                      <div class="column is-4">
                        <span class="level-left is-size-7">Timer : </span>
                        <input class="input" type="text" placeholder="Time.." name="" value="" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <!-- Modal -->
    <div id="modal-add-photo" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add Photos</p>
          <button id="button-close-add-photo" class="delete" aria-label="close"></button>
        </header>
        <form id="uploadForm" enctype="multipart/form-data" method="post" action="/add_album/upload_photo">
          <section class="modal-card-body">
            <input id="input-number-album" class="input" type="text" name="input_number_album"><br>
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input class="file-input" type="file" name="userPhoto" multiple>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a image…
                    </span>
                  </span>
                  <span class="file-name">
                    Screen Shot 2017-07-29 at 15.54.25.png
                  </span>
                </label>
              </div>
          </section>
          <footer class="modal-card-foot">
            <input id="button-submit-photo" class="button is-success" type="submit" value="Save" name="button-submit-photo">
          </footer>
        </form>
      </div>
    </div>
    <!-- ./modal -->
  </section>

  <%- include global/bundle_js %>
  <script type="text/javascript">
    $(document).ready(function(){
      // $("#control").prepend(`<div id='asd' class="notification is-danger">Album name is required.. <button class="delete"></button></div>`)
      $("#control").prepend(`<span id='asd' class="tag is-danger is-small" style='margin-bottom:10px'>Album name is required.. </span>`)
      var countString = $("#input-album-name").val()
      if (countString == 0) {
        // alert(`Album name required..`)
      }

      $("#input-album-name").keypress(function(e) {
        $("#asd").delay(4000).fadeOut("slow");
        if(e.which == 13) {
          e.preventDefault();
          $.ajax({
            type : 'POST',
            url : '/add_album/input_name',
            data : $("#input-album-name").val(),
            success : function(response){
              alert(response);
            }
          })
          var countString = $(this).val()
          if (countString == 0) {
            alert(`Album name required..`)
          }
          else {
            $("#button-select-all-photo").prop("disabled", false);
            $("#input-multi-timer").prop("disabled", false);
            $("#button-multi-timer").prop("disabled", false);
            $("#button-blank-album").prop("disabled", false);
            $("#button-save-album").prop("disabled", false);
          }
        }
      });

      // Action DOM
      // button-blank-album -> modal-add-photo
      $("#button-blank-album").click(function(){
        $("#modal-add-photo").addClass("is-active")
        $("#input-number-album").val($("#input-album-name").val())
      })
      $("#button-close-add-photo").click(function(){
        $("#modal-add-photo").removeClass("is-active")
      })
      $("#uploadForm").on('submit', function(e){
        e.preventDefault();
        $("#modal-add-photo").removeClass("is-active")
        var formData = new FormData(this);
        $.ajax({
          type:$(this).attr('method'),
          url: $(this).attr('action'),
          data:formData,
          dataType: 'json',
          contentType: false,
          processData: false,
          complete: function(data){
            alert(JSON.stringify(data));
          }
        });
      })


      });
  </script>
</body>
</html>
