
<body>
  <%- include global/header %>
  <section style="margin-top:10px">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column" style="background:white">
          <div class="section">
            <div class="columns">
              <div class="column">
                <div class="level-right">
                  <div class="level-item">
                    <div class="field has-addons">
                      <div class="control">
                        <input class="input" type="text" placeholder="Cari Album" disabled>
                      </div>
                      <div class="control">
                        <a class="button is-info" disabled><span class="icon is-small"><i class="fas fa-search"></i></span>&nbsp Cari </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="has-text-centered">
                  <div class="level-item">
                    <a href="/add_album" class="button is-info"><span class="icon is-small"><i class="fas fa-plus"></i></span>&nbsp Add Album</a>
                  </div>
                </div>
              </div>
            </div>
            <div id="list-album" class="columns is-multiline" style="margin-top:15px">
              <!-- Appended JQuery Event -->
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </section>

  <%- include global/bundle_js %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.ajax({
        type : 'GET',
        url : '/data/get-first-photo-per-album',
        success : function(response){
          for (var i = 0; i < Object.keys(response).length; i++) {
            $("#list-album").append(`
              <div class="column is-4">
                <div class="card">
                  <div class="has-text-centered">
                    <header class="card-header">
                      <p class="card-header-title">${response[i].album_name.substr(0, 25)}</p>
                    </header>
                    <div class="card-content">
                      <div class="card-image">
                      <figure class="image is-1by1">
                        <img src="./${response[i].album_name}/t2ext4752.png" alt="Placeholder image">
                      </figure>
                    </div>
                    </div>
                    <footer class="card-footer">
                      <a href="#" class="card-footer-item"><button id="button-add-photo" class="button is-info" type="button" name="button"><i class="fas fa-caret-right"></i>&nbsp Play</button></a>
                      <a href="#" class="card-footer-item"><button id="button-add-photo" class="button is-info" type="button" name="button"><i class="fas fa-edit"></i>&nbsp Edit Foto</button></a>
                      <a href="#" class="card-footer-item"><button id="button-add-photo" class="button is-danger" type="button" name="button"><i class="fas fa-trash"></i></button></a>
                    </footer>
                  </div>
                </div>
              </div>
            `)
          }
        }
      })

    })
  </script>
</body>
</html>
